<div class="text-xl flex items-center gap-2">
  Name:
  @if (!editingName) {
    <div class="flex items-center gap-1 cursor-pointer hover:text-gray-600" (click)="enableEdit()">
      <span>{{ connectionInfo?.hostname }}</span>
      <i class="pi pi-pencil text-gray-400 ml-2"></i>
    </div>
  } @else {
    <div class="flex items-center gap-2">
      <input [(ngModel)]="tempName"
             pInputText
             class="p-inputtext-sm w-60"/>

      <p-button
        label="Cancel"
        size="small"
        severity="secondary"
        (onClick)="disableEdit()"
      />

      <p-button
        label="Save"
        size="small"
        severity="success"
        (onClick)="finishEdit()"
      />

    </div>
  }


</div>

<p-confirmDialog></p-confirmDialog>

<div class="mt-40 text-xl">
  Projects:

  <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <p-card class="shadow-lg rounded-2xl border border-dashed border-gray-300 hover:border-gray-500 hover:shadow transition-all flex items-center justify-center" (click)="enableAddProject()" [ngClass]="!addingProject ? 'cursor-pointer' : ''">
      @if (!addingProject) {
        <button
          class="flex flex-col items-center justify-center w-full py-4 text-gray-500 hover:text-gray-700 cursor-pointer">
          <i class="pi pi-plus text-3xl mb-2"></i>
          <span class="text-lg font-medium">Add Project</span>
        </button>
      } @else {
        <div class="flex flex-col space-y-4 w-full">
          <input [(ngModel)]="newProjectName"
                 pInputText
                 placeholder="Project name"
                 class="p-inputtext-sm w-full"/>

          <div class="flex justify-end gap-2">
            <p-button
              label="Cancel"
              size="small"
              severity="secondary"
              (onClick)="cancelAddProject(); $event.stopPropagation()" />

            <p-button
              label="Save"
              size="small"
              severity="success"
              (onClick)="createProject(); $event.stopPropagation()" />
          </div>
        </div>
      }
    </p-card>

    @for (project of projects; track project.uuid) {
      <p-card class="shadow-lg rounded-2xl border border-gray-200
         hover:shadow-xl hover:scale-105 hover:-translate-y-1 hover:bg-gray-50
         transition-all duration-300 min-h-[8rem] cursor-pointer" (click)="redirectToProject(project.uuid)">
        <div class="flex items-center justify-between h-full py-4">
          <div class="flex flex-col justify-center">
            <div class="text-lg font-semibold">{{ project.name }}</div>
            <p class="text-sm text-gray-500">{{ project.uuid }}</p>
          </div>
          <div class="flex items-center space-x-3">
            <button
              (click)="confirmDelete(project.uuid); $event.stopPropagation()"
              class="text-red-500 hover:text-red-700 cursor-pointer">
              <i class="pi pi-trash text-lg"></i>
            </button>
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
