.node-box {
  background-color: #eee5e9;
  border: 1px solid #63b0cd;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  width: 140px;
  position: relative;
}

.node-content {
  margin: 8px 0;
}

.top, .bottom {
  width: 12px;
  height: 12px;
  background-color: #63b0cd;
  border-radius: 50%;
  position: absolute;
}

.top {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
