<div class="flow-wrapper">
  <f-flow
    class="flow-root"
    fDraggable
    (fLoaded)="onLoaded()"
    (fCreateNode)="onCreateNode($event)"
    (fCreateConnection)="addConnection($event)"
  >
    <f-background class="flow-bg">
      <f-circle-pattern color="#4a5565"></f-circle-pattern>
    </f-background>

    <f-canvas fZoom class="flow-canvas">
      <f-connection-for-create
        fType="segment"
        [fStartColor]="isDarkMode ? '#EEE5E9' : '#131217'"
        [fEndColor]="isDarkMode ? '#EEE5E9' : '#131217'"
      ></f-connection-for-create>

      <f-snap-connection
        [fSnapThreshold]="50"
        fType="segment"
        [fStartColor]="isDarkMode ? '#EEE5E9' : '#131217'"
        [fEndColor]="isDarkMode ? '#EEE5E9' : '#131217'"
      ></f-snap-connection>

      <!-- Start Node -->
      <div
        fNode
        [fNodeId]="'start-node'"
        [fNodePosition]="{ x: 300, y: 0 }"
        class="node"
        [attr.data-node-id]="'start-node'"
        #nodeElement
      >
        <div class="node-title">Start</div>
        <div
          fNodeOutput
          fOutputConnectableSide="bottom"
          [fOutputId]="'start-node-output'"
          class="port port-bottom"
        ></div>
      </div>

      <!-- Connections (mission + ad-hoc merged in TS) -->
      @for (connection of connections(); track connection.outputId + '-' + connection.inputId) {
        <f-connection
          [fReassignDisabled]="true"
          fType="segment"
          [fOutputId]="connection.outputId"
          [fInputId]="connection.inputId"
          [fStartColor]="isDarkMode ? '#EEE5E9' : '#131217'"
          [fEndColor]="isDarkMode ? '#EEE5E9' : '#131217'"
        >
        </f-connection>
      }

      <!-- Nodes (mission + ad-hoc merged in TS) -->
      @for (node of nodes(); track node.id) {
        <div
          fNode
          fDragHandle
          [fNodeId]="node.id"
          [fNodePosition]="node.position"
          class="node"
          [attr.data-node-id]="node.id"
          (contextmenu)="onRightClick($event, node.id)"
          #nodeElement
        >
          <div
            fNodeInput
            fInputConnectableSide="top"
            [fInputId]="node.id + '-input'"
            class="port port-top"
          ></div>

          <div class="node-title">{{ node.text }}</div>

          @if (node.step.arguments && node.step.arguments.length > 0) {
            <div class="node-args">
              @for (arg of node.step.arguments; track arg.name) {
                <div class="arg">
                  <label
                    class="arg-label"
                    pTooltip="{{ arg.name }} ({{ arg.type }})"
                    tooltipPosition="top"
                    [showDelay]="150"
                    [hideDelay]="50"
                    tooltipStyleClass="!max-w-[24rem] !break-words"
                  >
                    {{ arg.name }} ({{ arg.type }})
                  </label>

                  @if (arg.type === 'bool') {
                    <p-checkbox
                      [(ngModel)]="node.args[arg.name]"
                      [binary]="true"
                      class="mx-auto"
                    ></p-checkbox>
                  } @else if (arg.type === 'str') {
                    <input
                      pInputText
                      [(ngModel)]="node.args[arg.name]"
                      class="arg-input"
                      [placeholder]="arg.default || ('Enter ' + arg.name)"
                    />
                  } @else if (arg.type === 'float') {
                    <p-inputNumber
                      [(ngModel)]="node.args[arg.name]"
                      mode="decimal"
                      [minFractionDigits]="1"
                      [maxFractionDigits]="2"
                      styleClass="arg-number"
                      inputStyleClass="arg-input"
                      [placeholder]="arg.default || ('Enter ' + arg.name)"
                    ></p-inputNumber>
                  }
                </div>
              }
            </div>
          }

          <div
            fNodeOutput
            fOutputConnectableSide="bottom"
            [fOutputId]="node.id + '-output'"
            class="port port-bottom"
          ></div>
        </div>
      }
    </f-canvas>
  </f-flow>

  <!-- Append to body so it never shifts layout -->
  <p-contextMenu #cm [model]="items" [appendTo]="'body'"></p-contextMenu>
</div>
