:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.flow-wrapper {
  position: relative;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flow-surface {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep .p-contextmenu {
  position: fixed !important;
}

.group-fill {
  fill: #333;
}
