.step-item {
  user-select: none;
  transition: all 0.2s ease;

  &:hover {
    @apply bg-gray-100 dark:bg-gray-600;
    transform: translateY(-1px);
  }

  &.foblex-drag-active {
    @apply opacity-75;
  }
}
