<div class="flex flex-col items-center justify-center text-2xl">
  <p class="mb-4">
    Connect to device
  </p>

  <div class="relative w-1/4">
    <p-inputgroup class="flex-1">
      <input [(ngModel)]="ip" pInputText placeholder="IP Address (1.1.1.1)">
      <p-button label="go" (onClick)="tryConnecting(ip)" [disabled]="loading"></p-button>
    </p-inputgroup>

    @if (loading) {
      <p-progressSpinner
        style="width: 35px; height: 35px; position: absolute; right: -50px; top: 50%; transform: translateY(-50%);">
      </p-progressSpinner>
    }
  </div>

  <p class="mt-6 text-center">
    On the wombat, click <br>
    Settings > Wifi > Device Info
  </p>
</div>


<div class="mt-40 text-xl">
  Previous Connections:

  @if (previousConnections.length == 0) {
    <div class="text-xl text-center mt-20 text-gray-400">No previous connections</div>
  }

  <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (connection of previousConnections; track connection.ip) {
      <p-card class="shadow-lg rounded-2xl border border-gray-200 hover:shadow-xl transition-all cursor-pointer" (click)="tryConnecting(connection.ip)">
        <div class="flex items-center justify-between">
          <div>
            <div class="text-lg font-semibold">{{ connection.hostname || 'Unnamed Device' }} <span class="text-sm text-gray-500 ml-5">{{ connection.ip }}</span></div>

            <p class="text-base text-gray-400 flex items-center">
              Status:
              @if (connection.battery_percent > 0) {
                <span class="flex items-center ml-2">
                  Online ({{connection.battery_percent}}%)
                  <span class="w-3 h-3 bg-green-500 rounded-full ml-2 mt-1"></span>
                </span>
              } @else {
                <span class="flex items-center ml-2">
                  Offline
                  <span class="w-3 h-3 bg-red-500 rounded-full ml-2 mt-1"></span>
                </span>
              }
            </p>

          </div>

          <div class="flex items-center space-x-3">
            <button
              class="text-red-500 hover:text-red-700 cursor-pointer"
              (click)="removeConnection(connection.ip); $event.stopPropagation()">
              <i class="pi pi-trash text-lg"></i>
            </button>
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
